footer.flex {
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

footer.flex ul {
    gap: 1rem;    
}

footer.flex ul li a {
    color: var(--subtitle);
    font-size: 1rem;
}

footer.flex ul li a:hover {
    color: var(--blue);
    font-size: 1.1rem;
    font-weight: bold;
    scale: 1.1;
}

footer.flex p {
    color: var(--subtitle);
    opacity: 0.8;
}
footer.flex p span {
    color: var(--subtitle);
    font-size: 18px;
    font-weight: bold;
    opacity: 1;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

footer.flex p span:hover {
    color: var(--blue);
    font-size: 20px;
}

@media (max-width: 800px) { 
    footer.flex {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 500px) { 
    footer.flex p  {
        font-size: 12px;
    }
    footer.flex p:hover  {
        font-size: 16px;
    }

    footer.flex p span {
        font-size: 16px;
    }
    footer.flex ul li a {
        color: var(--subtitle);
        font-size: 0.9rem;
    }

footer.flex p span:hover {
    color: var(--blue);
    font-size: 20px;
}
}

